body {
  margin: 0 auto;
  width: 90%;
}

.search-div, .add-div, .list-div, .delete-div {
  background-color: #EFEFEC;
  padding: 5px 20px 20px 20px;
  border-radius: 5px;
}

.database-box {
  padding: 20px;
  border-radius: 5px;
  background-color: #EFEFEC;
}

/*
.table {
	width: 100%;
	border: 1px solid black;
}


.centerText {
	text-align: center;
}

.jumboStyle {
	padding-top: 0px; 
	padding-bottom: 0px;
	margin-bottom: 20px;
}

.jumboStyle2 {
	padding-top: 0px; 
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.btn-circle {
  width: 300px;
  height: 300px;
  text-align: center;
  padding: 6px 0;
  font-size: 24px;
  line-height: 1.42;
  border-radius: 180px;
  border-color: lightgray;
}

.statusStyle {
	text-align: right; 
	font-style: italic;
	margin-top: 5px; 
	margin-bottom: 5px;
}

.counterStyle{
	text-align: right;
	margin-top: 8px;
	margin-bottom: 8px;
}

.logoMaxW {
/*	margin: 0px auto;
	display: block;*/
/*	max-width:600px;
    max-width: 100%;
 /*   height: auto;
    width: auto;*/
/*    margin:0px auto;
    display:block;*/
/*}

.vert-offset{
    margin-top: 1em;
}*/
''
/* You can include your custom styling here */

/*<!-- Box test codes start -->
<div class="row"> 
    <div class="col-sm-6 col-md-6 col-lg-6 yellow"> WHAT</div> <!-- this sets the stage for the left hand side column -->
       <div class="col-sm-6 col-md-6 green col-lg-6 purple"> <!-- this sets the stage for the right hand side column -->
          <div class="col-sm-12 col-md-12 col-lg-12 red">Red</div> <!-- the top box within the right hand side column will take the full width of the RHS column - span 12 -->
          <div class="col-sm-12 col-md-12 col-lg-12 green">Green</div> <!-- the bottom box within the right hand side column will ALSO take the full width of the RHS column - span 12 -->
    </div>
</div>
</div>


<!-- box test codes end -->*/*/